@import "@/assets/styles/abstract/variables";

.btn {
  border-radius: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
  justify-content: center;
  padding: 1.1rem;
  border: none;
  min-width: 12rem;
  display: flex;
  align-items: center;
  min-height: 3.5rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--pink-400);
  border: solid 0.3rem var(--pink-400);
  color: white;
  transition: all ease 0.3s;
  &:hover,
  &:focus,
  &:disabled {
    color: white;
    filter: brightness(0.8);
  }
  &:disabled {
    opacity: 0.8;
  }
}

.btn-outline-primary {
  background-color: transparent;
  color: var(--pink-400);
  border: solid 0.3rem var(--pink-400);
  transition: all ease 0.3s;
  color: white;
  &:hover,
  &:focus {
    background-color: var(--pink-400);
    // background-color: darken($color: var(--pink-400), $amount: 15);
  }
  &:disabled,
  & :hover {
    opacity: 0.8;
    background-color: transparent;
  }
}

.btn-secondary {
  background-color: var(--black-300);
  color: white;
  transition: all ease 0.3s;
  &:hover,
  &:focus {
    background-color: var(--pink-400) !important;
    color: white;
  }
  &:disabled {
    color: white;
    opacity: 0.8;
  }
}

.btn-white {
  background-color: white;
  color: var(--pink-400);
  transition: all ease 0.3s;
  &:hover,
  &:focus {
    background-color: var(--pink-400);
    color: white !important;
  }
  &:disabled,
  & :hover {
    color: var(--pink-400);
    background-color: white;
    opacity: 0.8;
  }
}

.btn-lg {
  min-height: 4.8rem;
  min-width: 16rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  @media (max-width: 500px) {
    min-width: 16rem;
    min-height: 4rem;
  }
}

.btn-md {
  min-height: 3.6rem;
  min-width: 14rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.btn-sm {
  height: 3rem;
  min-width: 0;
  font-size: 1.3rem;
  min-height: 0;
}
