@tailwind base;
@tailwind components;
@tailwind utilities;


@import "@/assets/styles/abstract/variables";

// In this project, 1rem = 10px
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @media (max-width: 900px) {
    font-size: 59.5%;
  }
  @media (max-width: 700px) {
    font-size: 55.5%;
  }
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--black-300);
  border-radius: 5rem;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  color-scheme: dark;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: rgb(var(--foreground-rgb));
  font-size: 1.4rem;
  background: var(--black-200);
}


@import "@/assets/styles/custom";
